//test-----
@mixin border($color) {
	border: 1px solid $color;
}

//---------

@mixin flex($directionJC, $directionAT, $flexType) {
	display: flex;
	justify-content: $directionJC;
	align-items: $directionAT;
	flex-direction: $flexType;
}

@mixin media-small-md {
	@media screen and (max-width: 450px) {
		@content;
	}
}

@mixin media-small-lg {
	@media screen and (max-width: 600px) {
		@content;
	}
}
@mixin media-md {
	@media screen and (max-width: 768px) {
		@content;
	}
}
@mixin media-lg {
	@media screen and (max-width: 1060px) {
		@content;
	}
}
@mixin media-xl {
	@media screen and (max-width: 1600px) {
		@content;
	}
}

@mixin media-xxl {
	@media screen and (max-width: 2200px) {
		@content;
	}
}
