@include media-lg {
	.floating-box {
		padding: 3vw !important;
	}
	.common-content {
		line-height: 6vw !important;
		&-heading {
			font-size: 5vw !important;
		}

		&-paragraph {
			font-size: 2.3vw !important;
		}
	}
}

@include media-md(900px) {
	.form {
		&-content {
			width: 45vw !important;
		}

		&-heading {
			font-size: 4vw !important;
		}

		&-paragraph {
			font-size: 2.3vw !important;
		}
	}
	input {
		width: 80% !important;
	}
}

@include media-small-lg {
	body {
		height: max-content !important;
	}

	div#root {
		height: max-content !important;
	}

	.floating-box {
		&__content-wrapper {
			flex-direction: column !important;
			padding: 1rem 0 !important;
		}
	}

	.image-container {
		width: 80% !important;
		margin-right: 0 !important;
		> img {
			height: 60vh !important;
			object-fit: cover !important;
		}
	}

	.common-content {
		padding: 2rem 0 !important;
		width: 80% !important;
		text-align: center;

		&-heading {
			font-size: 6vw !important;
		}

		&-paragraph {
			font-size: 3vw !important;
			line-height: 1.5rem !important;
			padding: 1rem 0 1.3rem 0;
		}
	}

	.form {
		&-heading {
			font-size: 5vw !important;
		}
	}
}
