@include media-lg {
	.floating-box {
		padding: 3vw !important;
	}
	.common-content {
		line-height: 6vw !important;
		&-heading {
			font-size: 5vw !important;
		}

		&-paragraph {
			font-size: 2.3vw !important;
		}
	}
}
